<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.khutsomatlala.hackaton_user11">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.geo.API_KEY"
        android:value="AIzaSyD_E84UnP0nmc8-w-ZiS1CxxUMJ9acZINM" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/one"
        android:label="@string/app_name"
        android:roundIcon="@drawable/one"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Auth_loginActivity"
            android:label="Co-Working Spaces"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activities.AuthActivity" />
        <activity
            android:name=".Activities.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Activities.bookingActivity" />
        <activity android:name=".Activities.Splash" />


        <activity android:name=".Activities.MaxPicActivity" />
        <activity
            android:name=".Activities.PlaceDetailsActivity"
            android:label="@string/title_activity_place_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ReviewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.Read_moreActivity" />
        <activity android:name=".Activities.Forgot_Password" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Booking History"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ProfileListActivity"
            android:label="Profile" />
        <activity
            android:name=".Activities.HostActivity"
            android:label="Host Your Space"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.First_Host" />
        <activity android:name=".Activities.Second_Host" />
        <activity android:name=".Activities.Third_Host" />
        <activity android:name=".Activities.Fourth_Host" />
        <activity android:name=".Activities.Firth_Host" />
        <activity android:name=".Activities.Sixth_Host" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_main_menu"></activity>
    </application>

</manifest>